*{
    margin: 0;
    padding: 0;
}

.image{
    background-image: url(kristijan-arsov-v3lo-Z8l-44-unsplash.jpg);
    background-size: cover;
    height: 100vh;
}

.myForm{
    margin-left: 25%;
    margin-top: 10%;
}

.navbar a{
    text-decoration: none;
}

.navbar{
    justify-content: end;
}

.form-check a{
    text-decoration: none;
}

.btn{
    background-color: rgb(249, 3, 163);
}

.form-control{
    border-radius: 8px;
    background-color: rgb(242, 238, 242);
    border: 0px; 
}

.text a{
    text-decoration: none;
}

.dribbble-text {
  font-family: 'Parisienne', cursive;
 
}

.image{
    color: rgb(5, 89, 146);
}